.ui.row.page-header
  .column
    %h1.ui.left.floated.header= current_page_title

.ui.row
  .column
    - if params[:q].present? || @projects.present?
      = search_form_for @ransack_query, method: :get, url: request.path,
        wrapper: "semantic_ui", html: { class: "search-form"} do |s|
        = s.input :name_cont, wrapper_html: {class: "ui action left icon input"},
          label_html: {class: "visually-hidden"}, required: false,
          label: "Search by name" do
          %i.search.icon
          = s.input_field :name_cont, placeholder: "Search by name", as: :string
          = s.button :button, "Search"

    - if @projects.present?
      %table.ui.fixed.striped.table
        %thead
          %tr
            %th= sort_link(@ransack_query, :name, "Name")
            %th Client
            - if can?(:manage, Project)
              %th.right.aligned.actions Actions
        %tbody
          - @projects.each do |project|
            %tr
              %td= project.name
              %td= link_to "#{project.client}", client_path(project.client)
              - if can?(:manage, project)
                %td.right.aligned.actions
                  - if can?(:edit, project)
                    = link_to client_project_path(project.client, project), class: "ui icon tiny teal compact button" do
                      %i.eye.icon
                      View project
                    = link_to edit_client_project_path(project.client, project), class: "ui icon tiny compact button" do
                      %i.pencil.icon
                      Edit
                  - if can?(:destroy, project)
                    = link_to "Delete", client_project_path(project.client, project), method: :delete,
                      data: {confirm: "Are you sure you want to delete this project?"},
                      class: "ui icon tiny compact red button"
      = paginate @projects

    - elsif params[:q].present?
      %p
        No projects matched your search.
        = link_to "Show all projects.", request.path
    - else
      %p
        There are no projects. You can create one via the client page.
        = link_to "View all clients", clients_path
